body{
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#d4fc79,#96e6a1);
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:35px;
    width:420px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color:#2e7d32;
    margin-bottom:10px;
}

.subtitle{
    color:#555;
    margin-bottom:25px;
}

input{
    width:90%;
    padding:12px;
    border:2px solid #2e7d32;
    border-radius:8px;
    font-size:16px;
}

button{
    margin-top:15px;
    padding:12px 22px;
    background:#2e7d32;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1b5e20;
}

#result{
    margin-top:25px;
    font-size:18px;
    font-weight:bold;
}
.info{
    margin-top:25px;
}

.card{
    background:#ffffff;
    margin-top:18px;
    padding:18px;
    border-left:5px solid #2e7d32;
    border-radius:12px;
    text-align:left;
    box-shadow:0 5px 12px rgba(0,0,0,0.12);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,0.18);
}

.card h3{
    margin:0 0 10px;
    color:#2e7d32;
    font-size:20px;
}

.card p{
    margin:0;
    color:#444;
    line-height:1.5;
}
